@font-face {
  font-family: UTMAVO;
  src: url("../fonts/utm-avo.ttf");
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: UTMAVO !important;
  position: relative;
  z-index: -999;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a, a:hover, a:active {
  text-decoration: none !important;
}

img {
  width: 100%;
}

.card {
  border: none;
}

.card .card-body {
  padding: 0;
}

#menu {
  background-color: white;
}

#menu .menu-wrap {
  height: 130px;
  position: relative;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#menu .menu-wrap .logo {
  position: absolute;
  bottom: 0;
  right: 45%;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

#menu .menu-wrap .logo img {
  width: 200px;
}

#menu .menu-wrap .logo-fixed {
  top: 0;
  background: none;
}

#menu .menu-wrap .logo-fixed img {
  width: 119px;
}

#menu .menu-wrap .menu-right-contact {
  float: right;
  height: 130px;
}

#menu .menu-wrap .menu-right-contact img {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  height: 130px;
}

#menu .menu-wrap .menu-right-contact-fixed img {
  height: 63px;
}

#menu .menu-wrap .menu-left-info {
  float: none;
  width: auto;
  overflow-x: auto;
  overflow-y: -webkit-paged-x;
}

#menu .menu-wrap .menu-left-info .menu-top-info {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d4d4d4;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  height: 70px;
  margin-left: 20px;
}

#menu .menu-wrap .menu-left-info .menu-top-info p {
  margin-top: 5px;
  font-size: 11px;
  color: #7a7a7a;
}

#menu .menu-wrap .menu-left-info .fixed-top {
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
}

#menu .menu-wrap .menu-left-info .fixed-top p {
  display: none;
}

#menu .menu-wrap .menu-left-info .menu-bottom-info ul.menu-boottom-info-left {
  float: left;
  margin-left: 20px;
}

#menu .menu-wrap .menu-left-info .menu-bottom-info ul.menu-boottom-info-right {
  float: right;
}

#menu .menu-wrap .menu-left-info .menu-bottom-info ul.menu-boottom-info-left, #menu .menu-wrap .menu-left-info .menu-bottom-info ul.menu-boottom-info-right {
  padding-top: 20px;
}

#menu .menu-wrap .menu-left-info .menu-bottom-info ul.menu-boottom-info-left li, #menu .menu-wrap .menu-left-info .menu-bottom-info ul.menu-boottom-info-right li {
  float: left;
  display: inline;
  margin-right: 20px;
  text-transform: uppercase;
  font-weight: bolder;
  position: relative;
}

#menu .menu-wrap .menu-left-info .menu-bottom-info ul.menu-boottom-info-left li a, #menu .menu-wrap .menu-left-info .menu-bottom-info ul.menu-boottom-info-right li a {
  color: #00999F;
}

#menu .menu-wrap .menu-left-info .menu-bottom-info ul.menu-boottom-info-left li.li-normal a, #menu .menu-wrap .menu-left-info .menu-bottom-info ul.menu-boottom-info-right li.li-normal a {
  position: relative;
}

#menu .menu-wrap .menu-left-info .menu-bottom-info ul.menu-boottom-info-left li.li-normal a:after, #menu .menu-wrap .menu-left-info .menu-bottom-info ul.menu-boottom-info-right li.li-normal a:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  width: 0%;
  height: 1px;
  margin: auto;
  background-color: transparent;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#menu .menu-wrap .menu-left-info .menu-bottom-info ul.menu-boottom-info-left li.li-normal:hover a, #menu .menu-wrap .menu-left-info .menu-bottom-info ul.menu-boottom-info-right li.li-normal:hover a {
  color: #ff6d00;
}

#menu .menu-wrap .menu-left-info .menu-bottom-info ul.menu-boottom-info-left li.li-normal:hover a:after, #menu .menu-wrap .menu-left-info .menu-bottom-info ul.menu-boottom-info-right li.li-normal:hover a:after {
  background-color: #ff6d00;
  width: 100%;
}

#menu .menu-wrap .menu-left-info .menu-bottom-info ul.menu-boottom-info-left li.has-item-down, #menu .menu-wrap .menu-left-info .menu-bottom-info ul.menu-boottom-info-right li.has-item-down {
  padding: 0px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#menu .menu-wrap .menu-left-info .menu-bottom-info ul.menu-boottom-info-left li.has-item-down:hover, #menu .menu-wrap .menu-left-info .menu-bottom-info ul.menu-boottom-info-right li.has-item-down:hover {
  background-color: #00999F;
  padding: 10px;
}

#menu .menu-wrap .menu-left-info .menu-bottom-info ul.menu-boottom-info-left li.has-item-down:hover > a, #menu .menu-wrap .menu-left-info .menu-bottom-info ul.menu-boottom-info-right li.has-item-down:hover > a {
  color: white;
}

#menu .menu-wrap .menu-left-info .menu-bottom-info ul.menu-boottom-info-left li.has-item-down:hover ul, #menu .menu-wrap .menu-left-info .menu-bottom-info ul.menu-boottom-info-right li.has-item-down:hover ul {
  display: block;
  background-color: #00999F;
  padding-top: 10px;
}

#menu .menu-wrap .menu-left-info .menu-bottom-info ul.menu-boottom-info-left li.has-item-down ul, #menu .menu-wrap .menu-left-info .menu-bottom-info ul.menu-boottom-info-right li.has-item-down ul {
  display: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: absolute;
  top: 100%;
  left: 0px;
  padding: 25px 0 10px 10px;
  z-index: 9;
  white-space: nowrap;
}

#menu .menu-wrap .menu-left-info .menu-bottom-info ul.menu-boottom-info-left li.has-item-down ul li, #menu .menu-wrap .menu-left-info .menu-bottom-info ul.menu-boottom-info-right li.has-item-down ul li {
  line-height: 1.6;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.27);
}

#menu .menu-wrap .menu-left-info .menu-bottom-info ul.menu-boottom-info-left li.has-item-down ul li a, #menu .menu-wrap .menu-left-info .menu-bottom-info ul.menu-boottom-info-right li.has-item-down ul li a {
  color: white;
  line-height: 33px;
}

#menu .menu-wrap .menu-left-info .menu-bottom-info ul.menu-boottom-info-left li.has-item-down ul li:hover, #menu .menu-wrap .menu-left-info .menu-bottom-info ul.menu-boottom-info-right li.has-item-down ul li:hover {
  background-color: white;
  padding-left: 10px;
}

#menu .menu-wrap .menu-left-info .menu-bottom-info ul.menu-boottom-info-left li.has-item-down ul li:hover a, #menu .menu-wrap .menu-left-info .menu-bottom-info ul.menu-boottom-info-right li.has-item-down ul li:hover a {
  color: #333333;
}

.wrap-fixed-top {
  position: fixed !important;
  background-color: white;
  height: 63px !important;
}

/* Sidebar
-----------------------------------------------------------------------------------------*/
#blurrMe {
  position: relative;
  z-index: -99;
}

.menusign {
  display: block;
  width: 10px;
  line-height: .3;
  font-size: 2em;
  margin: .5em;
}

.menusign br {
  height: 0;
}

.sidebar {
  position: fixed;
  z-index: 9999999;
  left: 0;
  top: 0;
  height: 100%;
  width: 260px;
  background: white;
  -webkit-transition: left 0.3s ease, -webkit-box-shadow 0.3s ease 0.2s;
  transition: left 0.3s ease, -webkit-box-shadow 0.3s ease 0.2s;
  transition: left 0.3s ease, box-shadow 0.3s ease 0.2s;
  transition: left 0.3s ease, box-shadow 0.3s ease 0.2s, -webkit-box-shadow 0.3s ease 0.2s;
  -webkit-box-shadow: 0.5em 0 0 0 #1ba8ff, 0.6em 0 0 0 #1ba8ff;
  box-shadow: 0.5em 0 0 0 #1ba8ff, 0.6em 0 0 0 #1ba8ff;
}

.sidebar.closed {
  left: -260px;
  -webkit-box-shadow: 0 0 0 #1ba8ff;
  box-shadow: 0 0 0 #1ba8ff;
}

.sidebar h2 {
  padding: .5em;
  color: #1abc9c;
}

.sidebar ul {
  padding: 0;
  padding-top: 50px;
  padding-bottom: 30px;
  margin: 0;
}

.sidebar ul li {
  width: 90%;
  margin: 5px 10px;
  display: inline-block;
  margin-bottom: 0;
  font-weight: bolder;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 3px 6px;
  font-size: 16px;
  line-height: 1.8;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #f3f3f3;
}

.sidebar .sidebar-sub-heading {
  border-top: 1px solid #e0e0e0;
  color: #757575;
  display: block;
  padding: 16px;
  font-size: 16px;
  font-weight: bolder;
}

.sidebar .sidebar-hotline {
  font-size: 16px;
  font-weight: bolder;
  padding: 16px;
  color: #757575;
}

.sidebar .sidebar-hotline .sidebar-number {
  color: #1ba8ff;
}

.sidebar .icon-sidebar {
  width: 56px;
}

.sidebar ul li a {
  color: #757575;
  text-decoration: none;
}

.sidebar .background-sidebar {
  background-image: url(../images/temps/310615.jpg);
  height: calc(56px*3);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-color: #1ba8ff;
}

.footer a {
  color: #17a689;
}

/* Blurred class

This class is added to the container
(#blurMe) when the sidebar is open.
-----------------------------------*/
.blurred {
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* Logo effect
-----------------------------*/
@-webkit-keyframes blur {
  66% {
    -webkit-filter: blur(1px);
    filter: blur(1px);
    -webkit-filter: url(#blurLogo);
    filter: url(#blurLogo);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='1');
  }
}

@keyframes blur {
  66% {
    -webkit-filter: blur(1px);
    filter: blur(1px);
    -webkit-filter: url(#blurLogo);
    filter: url(#blurLogo);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='1');
  }
}

#h_news {
  margin-bottom: 60px;
}

#h_news .top-info .one-item {
  padding-right: 30px;
}

#h_news .top-info .one-item a {
  color: #666;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#h_news .top-info .one-item a img {
  width: 100%;
  height: 300px;
}

#h_news .top-info .one-item a .card-body {
  padding: 0;
}

#h_news .top-info .one-item a .card-body h4 {
  font-size: 18px;
  font-style: italic;
  margin-top: 20px;
}

#h_news .top-info .one-item a:hover {
  color: #00999F;
}

#h_news .bottom-info {
  text-align: center;
  margin-top: 18px;
}

#h_news .bottom-info h3 {
  margin-bottom: 10px;
}

#h_news .bottom-info p {
  margin-bottom: 30px;
  font-size: 16px;
}

#h_news .bottom-info a {
  padding: 10px 20px 10px 20px;
  border: 1px solid #00999F;
  color: #00999F;
  text-transform: uppercase;
  font-weight: bolder;
}

#h_news .bottom-info a:hover {
  background-color: #00999F;
  color: white;
}

#h_news .wrap-item {
  background-color: #f0f0f0;
  padding: 25px 25px 20px 25px;
}

#h_news .wrap-item h3 {
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}

#h_news .wrap-item a {
  color: #666;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#h_news .wrap-item a .one-item {
  background-color: white;
  padding: 10px 15px;
  margin-bottom: 20px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#h_news .wrap-item a .one-item p {
  font-size: 16px;
}

#h_news .wrap-item a:hover {
  color: #00999F;
}

#h_news .wrap-item a:hover .one-item {
  border-left: 1px solid #00999F;
}

@media screen and (max-width: 768px) {
  #section1 .top-info .one-item a p {
    text-align: center;
  }
  #section1 .wrap-item {
    margin-top: 20px;
  }
}

#h_sales {
  border-top: 1px solid #e0e0e0;
  padding-top: 200px;
  padding-bottom: 200px;
}

#h_sales .s4-info {
  text-align: center;
}

#h_sales .s4-info h3 {
  font-size: 35px;
  margin-bottom: 5px;
  margin-bottom: 5px;
}

#h_sales .s4-info p {
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 1.6;
}

#h_sales .s4-info a {
  padding: 10px 20px 10px 20px;
  border: 1px solid #00999F;
  color: #00999F;
  text-transform: uppercase;
  font-weight: bolder;
}

#h_sales .s4-info a:hover {
  background-color: #00999F;
  color: white;
}

#h_sales .s4-baloon ul.s4-baloon-wrap {
  position: relative;
  list-style: none;
}

#h_sales .s4-baloon ul.s4-baloon-wrap li {
  position: absolute;
  border-radius: 5px;
  padding: 25px 25px 60px 25px;
  -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.15);
  background: linear-gradient(45deg, #DCDCDC, #FFFFFF, #DEDEDE);
  -webkit-animation: balloons 4s ease-in-out infinite;
          animation: balloons 4s ease-in-out infinite;
}

#h_sales .s4-baloon ul.s4-baloon-wrap li img {
  width: 300px;
}

@-webkit-keyframes balloons {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
}

@keyframes balloons {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
}

#h_sales .s4-baloon ul.s4-baloon-wrap li:first-child {
  left: -19px;
  bottom: -190px;
}

#h_sales .s4-baloon ul.s4-baloon-wrap li:nth-child(2) {
  right: 79px;
  bottom: -317px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

#h_sales .s4-baloon ul.s4-baloon-wrap li:last-child {
  right: -29px;
  bottom: -112px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

#h_albums {
  padding-top: 20px;
  border-top: 1px solid #e0e0e0;
  margin-bottom: 60px;
}

#h_albums h3 {
  text-align: center;
  position: relative;
  font-size: 39px;
  color: #00999F;
  padding-bottom: 60px;
}

#h_albums h3:after {
  position: absolute;
  left: 50%;
  bottom: 30px;
  display: block;
  width: 60px;
  height: 1px;
  margin-left: -30px;
  background-color: #c8c8c8;
  content: ' ';
}

#h_albums ul.album-category {
  text-align: center;
}

#h_albums ul.album-category li {
  display: inline;
  padding-left: 15px;
  padding-right: 15px;
}

#h_albums ul.album-category li a {
  color: #777;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  font-size: 18px;
  position: relative;
}

#h_albums ul.album-category li a:before {
  content: '';
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: -10px;
  height: 1px;
  background: #00999F;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#h_albums ul.album-category li a:after {
  content: "";
  position: absolute;
  left: -19px;
  bottom: 0;
  top: 5px;
  margin: auto;
  width: 4px;
  height: 4px;
  background: #999;
  border-radius: 50%;
}

#h_albums ul.album-category li a:hover {
  color: #00999F;
}

#h_albums ul.album-category li a:hover:before {
  left: 0;
  right: 0;
}

#h_albums .list-album {
  margin-top: 20px;
}

#h_albums .list-album .one-item {
  text-align: center;
  padding-bottom: 30px;
}

#h_albums .list-album .one-item a {
  color: #00999F;
}

#h_albums .list-album .one-item a .card {
  border: none;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  padding: 0 0 10px 0;
}

#h_albums .list-album .one-item a .card img {
  width: 100%;
  position: relative;
  z-index: 1;
}

#h_albums .list-album .one-item a .card .card-body {
  padding: 20px 5px 0 5px;
  line-height: 1.5;
}

#h_albums .list-album .one-item a .card .card-footer {
  border: none;
  background-color: white;
  padding: 0;
}

#h_albums .list-album .one-item a .card .card-footer p.btn {
  display: block;
  border: 1px solid #00999F;
  text-transform: uppercase;
  width: 50%;
  margin: auto;
  margin-top: 20px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#h_albums .list-album .one-item a:hover .card {
  -webkit-box-shadow: 1px 6px 20px 0px rgba(0, 0, 0, 0.35);
          box-shadow: 1px 6px 20px 0px rgba(0, 0, 0, 0.35);
}

#h_albums .list-album .one-item a:hover .card .card-footer p.btn {
  background-color: #00999F;
  color: white;
}

#h_albums .view-all {
  text-align: center;
  margin-top: 20px;
}

#h_albums .view-all a {
  color: #00999F;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  #h_albums .list-album .one-item {
    padding-left: 0;
  }
}

#h_locations {
  position: relative;
  padding-top: 20px;
  border-top: 1px solid #e0e0e0;
  height: 650px;
}

#h_locations h3 {
  text-align: center;
  position: relative;
  font-size: 39px;
  color: #00999F;
  padding-bottom: 60px;
}

#h_locations h3:after {
  position: absolute;
  left: 50%;
  bottom: 30px;
  display: block;
  width: 60px;
  height: 1px;
  margin-left: -30px;
  background-color: #c8c8c8;
  content: ' ';
}

#h_locations ul {
  background-color: #00999F;
  padding: 25px 40px 20px;
  font-size: 20px;
  text-align: center;
}

#h_locations ul li {
  padding: 6px 0;
  border-bottom: 1px solid #ff6d00;
}

#h_locations ul li a {
  color: white;
}

#h_locations ul li a:hover {
  color: #ff6d00;
}

#h_locations img.img-mobile {
  width: 100%;
}

#h_locations .s3-wrap-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#h_locations .s3-wrap-img .img-active {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  #section3 {
    height: 100%;
  }
  #section3 ul {
    background: none;
    padding: 0;
  }
  #section3 ul li {
    padding: 0;
    border: hidden;
  }
}

#a_detail h1.a_d_title {
  color: #00999F;
  margin: 10px 0 10px 0;
}

#a_detail img {
  width: 100%;
}

#a_d_info .a_d_info_description {
  line-height: 1.5;
  margin-bottom: 20px;
}

#a_d_info .a_d_info_grid_album {
  /* ---- .grid-item ---- */
}

#a_d_info .a_d_info_grid_album .grid-sizer,
#a_d_info .a_d_info_grid_album .grid-item {
  width: 33.333%;
}

#a_d_info .a_d_info_grid_album .grid-item {
  float: left;
}

#a_d_info .a_d_info_grid_album .grid-item img {
  display: block;
  max-width: 100%;
}

#a_d_sidebar h4.title {
  color: black;
  text-transform: capitalize;
  padding-bottom: 20px;
  font-size: 20px;
}

#a_d_sidebar .a_d_sidebar_locations ul {
  list-style: none;
  line-height: 1.5;
}

#a_d_sidebar .a_d_sidebar_locations ul li a {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #00999F;
  text-transform: capitalize;
}

#a_d_sidebar .a_d_sidebar_locations ul li a:hover {
  color: #ff6d00;
}

#a_d_sidebar .a_d_sidebar_prices a {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #00999F;
}

#a_d_sidebar .a_d_sidebar_prices a:hover {
  color: #ff6d00;
}

#a_d_sidebar .a_d_sidebar_albums .one-item {
  margin-bottom: 20px;
}

#a_d_sidebar .a_d_sidebar_albums .one-item img {
  width: 100%;
  height: 150px;
}

#a_d_sidebar .a_d_sidebar_albums .one-item a {
  color: #00999F;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#a_d_sidebar .a_d_sidebar_albums .one-item a p.one-item-title {
  padding: 5px 0 5px 0;
}

#a_d_sidebar .a_d_sidebar_albums .one-item a:hover {
  color: #ff6d00;
}

#c_info img {
  width: 100%;
}

#c_info h1 {
  text-transform: capitalize;
  color: #00999F;
  margin: 10px 0 10px 0;
}

#c_info .c_info_description {
  line-height: 1.5;
  margin-bottom: 20px;
}

#c_info .c_info_albums .one-item {
  text-align: center;
  padding-bottom: 30px;
}

#c_info .c_info_albums .one-item a {
  color: #00999F;
}

#c_info .c_info_albums .one-item a .card {
  border: none;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  padding: 0 0 10px 0;
}

#c_info .c_info_albums .one-item a .card img {
  width: 100%;
  position: relative;
  z-index: 1;
}

#c_info .c_info_albums .one-item a .card .card-body {
  padding: 20px 5px 0 5px;
  line-height: 1.5;
}

#c_info .c_info_albums .one-item a .card .card-footer {
  border: none;
  background-color: white;
  padding: 0;
}

#c_info .c_info_albums .one-item a .card .card-footer p.btn {
  display: block;
  border: 1px solid #00999F;
  text-transform: uppercase;
  width: 50%;
  margin: auto;
  margin-top: 20px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#c_info .c_info_albums .one-item a:hover .card {
  -webkit-box-shadow: 1px 6px 20px 0px rgba(0, 0, 0, 0.35);
          box-shadow: 1px 6px 20px 0px rgba(0, 0, 0, 0.35);
}

#c_info .c_info_albums .one-item a:hover .card .card-footer p.btn {
  background-color: #00999F;
  color: white;
}

#n_menu {
  position: relative;
  z-index: 1;
}

#n_menu ul {
  list-style: none;
  margin-top: 30px;
}

#n_menu ul li {
  display: inline-block;
}

#n_menu ul li a {
  text-transform: uppercase;
  display: block;
  color: #00999F;
  padding: 5px 5px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#n_menu ul li a:hover {
  color: #ff6d00;
}

#n_menu ul li a.n_menu_present {
  background-color: #ff6d00;
  color: white;
}

#n_info {
  margin-top: 20px;
}

#n_info .n_info_left img, #n_info .n_info_right img {
  width: 100%;
}

#n_info .n_info_left a h3.title {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #00999F;
  font-size: 24px;
  line-height: 1.5;
}

#n_info .n_info_left a p.description {
  line-height: 1.5;
  color: #333;
  margin-top: 10px;
}

#n_info .n_info_left a:hover h3.title {
  color: #ff6d00;
}

#n_info .n_info_right {
  padding: 0 0px 0 10px;
}

#n_info .n_info_right a h3.title {
  color: #00999F;
  font-size: 20px;
  line-height: 1;
  margin-top: 5px;
}

#n_info .n_info_right a p.description {
  line-height: 1.5;
  color: #333;
  margin-top: 10px;
}

#n_info .n_info_right a a:hover h3.title {
  color: #ff6d00;
}

#n_info .n_info_right .one-item a h3.title {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-size: 16px;
  color: #333;
}

#n_info .n_info_right .one-item a:hover h3.title {
  color: #ff6d00;
}

#n_info .n_info_bottom .one-item a img {
  width: 100%;
  height: 180px;
}

#n_info .n_info_bottom .one-item a h3.title {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #00999F;
  font-size: 24px;
  line-height: 1.5;
}

#n_info .n_info_bottom .one-item a p.description {
  line-height: 1.5;
  color: #333;
  margin-top: 10px;
}

#n_info .n_info_bottom .one-item a:hover h3.title {
  color: #ff6d00;
}

#n_info .card {
  border: none;
}

#n_info .card .card-body {
  padding: 0;
}

#n_sidebar {
  margin-top: 20px;
}

#n_sidebar img {
  width: 100%;
}

#n_sidebar .n_sidebar_hot_news p.title, #n_sidebar .n_sidebar_albums p.title {
  text-transform: uppercase;
  font-weight: bolder;
  margin-top: 20px;
  color: #7d7a7a;
}

#n_sidebar .n_sidebar_hot_news ul {
  counter-reset: li;
  list-style: none;
}

#n_sidebar .n_sidebar_hot_news ul li {
  position: relative;
  padding: 0 0 0 50px;
  margin-bottom: 10px;
}

#n_sidebar .n_sidebar_hot_news ul li a h3.title {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-size: 14px;
  color: #333333;
}

#n_sidebar .n_sidebar_hot_news ul li a:hover h3.title {
  color: #ff6d00;
}

#n_sidebar .n_sidebar_hot_news ul li::before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  background-color: #eeeded;
  width: 40px;
  height: 40px;
  top: -2px;
  left: 0px;
  margin: 0 8px 0 0;
  text-align: center;
  font-weight: bold;
  padding: 8px;
  color: #c0c0c0;
}

#n_sidebar .n_sidebar_albums .one-item a img {
  width: 100%;
}

#n_sidebar .n_sidebar_albums .one-item a h3.title {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #00999F;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1;
}

#n_sidebar .n_sidebar_albums .one-item a:hover h3.title {
  color: #ff6d00;
}

#n_sidebar .card {
  border: none;
}

#n_sidebar .card .card-body {
  padding: 0;
}

#n_d_info img {
  width: 100%;
}

#n_d_info h1.title {
  font-size: 25px;
  color: #333;
  font-weight: bolder;
  margin-bottom: 20px;
}

#n_d_info p.description {
  line-height: 1.5;
  margin-top: 20px;
}

#n_d_sidebar img {
  width: 100%;
}

#n_d_sidebar .n_d_sidebar_hot_news p.title, #n_d_sidebar .n_d_sidebar_albums p.title {
  text-transform: uppercase;
  font-weight: bolder;
  margin-top: 20px;
  color: #7d7a7a;
}

#n_d_sidebar .n_d_sidebar_hot_news ul {
  counter-reset: li;
  list-style: none;
}

#n_d_sidebar .n_d_sidebar_hot_news ul li {
  position: relative;
  padding: 0 0 0 50px;
  margin-bottom: 10px;
}

#n_d_sidebar .n_d_sidebar_hot_news ul li a h3.title {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-size: 14px;
  color: #333333;
}

#n_d_sidebar .n_d_sidebar_hot_news ul li a:hover h3.title {
  color: #ff6d00;
}

#n_d_sidebar .n_d_sidebar_hot_news ul li::before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  background-color: #eeeded;
  width: 40px;
  height: 40px;
  top: -2px;
  left: 0px;
  margin: 0 8px 0 0;
  text-align: center;
  font-weight: bold;
  padding: 8px;
  color: #c0c0c0;
}

#n_d_sidebar .n_d_sidebar_albums .one-item a img {
  width: 100%;
}

#n_d_sidebar .n_d_sidebar_albums .one-item a h3.title {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #00999F;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1;
}

#n_d_sidebar .n_d_sidebar_albums .one-item a:hover h3.title {
  color: #ff6d00;
}

#n_d_sidebar .card {
  border: none;
}

#n_d_sidebar .card .card-body {
  padding: 0;
}

#price img {
  width: 100%;
}

#p_info h1.title {
  color: #00999F;
  margin: 20px 0 20px 0;
}

#p_info p.description {
  line-height: 1.5;
  margin-bottom: 20px;
}

#p_info .p_info_list .one-item {
  margin-bottom: 20px;
  padding: 0 5px 0 5px;
}

#p_info .p_info_list .one-item a img {
  width: 100%;
}

#p_info .p_info_list .one-item a h3.title {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #00999F;
  font-size: 18px;
  margin-top: 10px;
  text-align: center;
}

#p_info .p_info_list .one-item a:hover h3.title {
  color: #ff6d00;
}

@media all and (min-width: 800px) {
  .fancybox-thumbs {
    top: auto;
    width: auto;
    bottom: 0;
    left: 0;
    right: 0;
    height: 95px;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: rgba(0, 0, 0, 0.3);
  }
  .fancybox-thumbs ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .fancybox-show-thumbs .fancybox-inner {
    right: 0;
    bottom: 95px;
  }
}

#lo_header {
  background-color: #00999F;
}

#lo_header #lo_header_left {
  padding: 20px;
  border-right: 1px solid #cccccc;
}

#lo_header #lo_header_left h1.title {
  font-size: 27px;
  color: white;
}

#lo_header #lo_header_left .location_items a {
  display: block;
  padding: 5px;
  color: white;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#lo_header #lo_header_left .location_items a:hover {
  color: #ff6d00;
}

#lo_header #lo_header_right {
  background: url("../images/temps/tmp_locations_right.jpg");
  background-size: cover;
  background-repeat: round;
}

#lo_albums {
  padding-top: 20px;
  border-top: 1px solid #e0e0e0;
  margin-bottom: 60px;
}

#lo_albums h3 {
  text-align: center;
  position: relative;
  font-size: 39px;
  color: #00999F;
  padding-bottom: 60px;
}

#lo_albums h3:after {
  position: absolute;
  left: 50%;
  bottom: 30px;
  display: block;
  width: 60px;
  height: 1px;
  margin-left: -30px;
  background-color: #c8c8c8;
  content: ' ';
}

#lo_albums ul.album-category {
  text-align: center;
}

#lo_albums ul.album-category li {
  display: inline;
  padding-left: 15px;
  padding-right: 15px;
}

#lo_albums ul.album-category li a {
  color: #777;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  font-size: 18px;
  position: relative;
}

#lo_albums ul.album-category li a:before {
  content: '';
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: -10px;
  height: 1px;
  background: #00999F;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#lo_albums ul.album-category li a:after {
  content: "";
  position: absolute;
  left: -19px;
  bottom: 0;
  top: 5px;
  margin: auto;
  width: 4px;
  height: 4px;
  background: #999;
  border-radius: 50%;
}

#lo_albums ul.album-category li a:hover {
  color: #00999F;
}

#lo_albums ul.album-category li a:hover:before {
  left: 0;
  right: 0;
}

#lo_albums .list-album {
  margin-top: 20px;
}

#lo_albums .list-album .one-item {
  text-align: center;
  padding-bottom: 30px;
}

#lo_albums .list-album .one-item a {
  color: #00999F;
}

#lo_albums .list-album .one-item a .card {
  border: none;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  padding: 0 0 10px 0;
}

#lo_albums .list-album .one-item a .card img {
  width: 100%;
  position: relative;
  z-index: 1;
}

#lo_albums .list-album .one-item a .card .card-body {
  padding: 20px 5px 0 5px;
  line-height: 1.5;
}

#lo_albums .list-album .one-item a .card .card-footer {
  border: none;
  background-color: white;
  padding: 0;
}

#lo_albums .list-album .one-item a .card .card-footer p.btn {
  display: block;
  border: 1px solid #00999F;
  text-transform: uppercase;
  width: 50%;
  margin: auto;
  margin-top: 20px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#lo_albums .list-album .one-item a:hover .card {
  -webkit-box-shadow: 1px 6px 20px 0px rgba(0, 0, 0, 0.35);
          box-shadow: 1px 6px 20px 0px rgba(0, 0, 0, 0.35);
}

#lo_albums .list-album .one-item a:hover .card .card-footer p.btn {
  background-color: #00999F;
  color: white;
}

#lo_albums .view-all {
  text-align: center;
  margin-top: 20px;
}

#lo_albums .view-all a {
  color: #00999F;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  #lo_albums .list-album .one-item {
    padding-left: 0;
  }
}

#ct_info .ct_info_form input[type="text"], #ct_info .ct_info_form input[type="email"] {
  width: 100%;
  margin: 5px 0 5px 0;
  padding: 0 0 0 5px;
  height: 50px;
}

#ct_info .ct_info_form textarea[name='notes'] {
  width: 100%;
}

#ct_info .ct_info_form button.ct_info_form_btn {
  margin-top: 10px;
  padding: 5px 40px 5px 40px;
  border: none;
  background-color: #00999F;
  color: white;
  text-transform: uppercase;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

#ct_info .ct_info_form button.ct_info_form_btn:hover {
  background-color: #ff6d00;
}

#ct_info .ct_info_address ul {
  line-height: 2.5;
  list-style: none;
}

#ct_info .ct_info_address ul li i {
  margin-right: 5px;
  color: #00999F;
}

#ct_info .ct_info_address ul li span {
  font-weight: bold;
  display: inline-block;
  width: 95px;
}

#footer {
  position: relative;
  z-index: unset;
  background-color: #125fb7;
  background: url("../images/all/bg_footer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#footer a {
  color: white;
}

#footer .footer__jumpTop > a {
  font-size: 30px;
  line-height: 1;
  background: #125fb7;
  height: 106px;
  left: 50%;
  margin: 0 0 0 -53px;
  position: absolute;
  z-index: -1;
  text-align: center;
  top: -40px;
  width: 106px;
  border-radius: 50%;
}

#footer .footer__jumpTop > a .fa {
  color: white;
  padding-top: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#footer #main-footer {
  margin-top: 20px;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#footer #main-footer #main-footer-left .logo img {
  width: 50%;
  height: 50%;
  margin-bottom: 20px;
}

#footer #main-footer #main-footer-left .footer-info ul li {
  color: white;
  line-height: 2.5;
}

#footer #main-footer #main-footer-left .footer-info ul li span {
  font-weight: bold;
}

#footer #main-footer #main-footer-left .footer-info ul li i {
  margin-right: 20px;
  font-size: 25px;
}

#footer #main-footer #main-footer-left .footer-info ul li p {
  font-style: italic;
}

#footer #main-footer #main-footer-right {
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-align: right;
}

@media screen and (max-width: 768px) {
  #footer2 {
    z-index: unset;
  }
  #footer2 .footer__jumpTop > a {
    z-index: -1;
  }
  #footer2 #main-footer {
    display: block;
  }
}
