#n_d_info{
  img{
    width: 100%;
  }
  h1.title{
    font-size: 25px;
    color: #333;
    font-weight: bolder;

    margin-bottom: 20px;
  }
  p.description{
    line-height: 1.5;
    margin-top: 20px;
  }
}