#p_info {
  h1.title {
    color: $main-color;
    margin: 20px 0 20px 0;
  }
  p.description {
    line-height: 1.5;
    margin-bottom: 20px;
  }
  .p_info_list {
    .one-item {
      margin-bottom: 20px;
      padding: 0 5px 0 5px;
      a {
        img {
          width: 100%;
        }

        h3.title {
          transition: all 0.2s;
          color: $main-color;
          font-size: 18px;
        }
      }
      a:hover {
        h3.title {
          color: $main-color-hover;
        }
      }
    }
  }
  .card {
    border: none;
    .card-body {
      padding: 0;
    }
  }
}